<!-- <h1 style="text-align: center;">Setting</h1> -->
<style type="text/css">
	.staticContent{
   /*background: #ffeed8;*/
    width: 86%;
    display: block;
    margin: auto;
    margin-right: 53px;
    border-radius: 30px;
}
.leftheading {
	font-weight: bolder!important;
	font-size: 20px !important;
	color: #000;
}
.grp_content{
	   background: #ffeed8;
}
.add_new{
	background: #10ae73;
	margin-top: 4px !important;
}

</style>
<div class="row staticContent">
	<div class="col-md-3 col-sm-12 col-xs-12">
		<p class="leftheading">Setting</p>
	</div>
</div>
<div class="row staticContent grp_content">
	<div class="col-md-10 col-sm-12 col-xs-12">
		<p class="leftheading"> Room types &nbsp; <i class="fa fa-home"></i> </p>
		<p>The room type includes information as to the number of beds, price and more. One or more units can be added for each room type.</p>
	</div>
	<div class="col-md-2 col-sm-12 col-xs-12">
		<button type="button" class="btn btn-success add_new" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus"></i> &nbsp;Add New</button>
		
    </div>
</div>
 
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog" >
			    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a new room type</h4>
        </div>

        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-6 col-sm-12 col-xs-12">
	        		<div class="form-group">
	        			<label>Room type</label>
			         	<input type="text" name="txtroomtyp" class="form-control">
	        		</div>

	        		<div class="form-group">
	        			<label>Description</label>
			         	<input type="textarea" name="txtdesc" class="form-control">
	        		</div>
			         
	        	</div>
	        	<div class="col-md-6 col-sm-12 col-xs-12">
	        		<div class="form-group">
	        			<label>This is a duplicate</label><br>
			         	<input id="toggle-one" checked type="checkbox" data-size="small" class="form-control" >
	        		</div>
	        		<div class="form-group">
	        			<label>Upload image</label>
	        			<input type='file' name='file' id='file' ng-file='uploadfiles' class="form-control">
                        <br/>
                       <input type='button'  class="btn btn-primary" value='Upload'  class="form-control" >
			         
	        		</div>
	        		<div class="form-group">
	        			<label>Object type</label><br>
							  <div class="form-group">
							  <select class="form-control" id="object">
							    <option>room</option>
							    <option>apartment</option>
							    <option>cottage</option>
							    <option>Bed</option>
							  </select>
							</div>
			        </div>
	        		<div class="form-group">
	        			<label>Sort order</label>
	        			<select class="form-control" id="sort">
	        				<option>auto</option>
					        <option>1</option>
					        <option>2</option>
					        <option>3</option>
					        <option>4</option>
					        <option>5</option>
					        <option>6</option>
					        <option>7</option>
					        <option>8</option>
					        <option>9</option>
					        <option>10</option>
					        <option>11</option>
					        <option>12</option>
					    </select>
	        		</div>
	        		<div class="form-group">
	        			<label>Internal room type</label><br>
			         	<input id="toggle-two" checked type="checkbox" data-size="small" class="form-control" >
	        			
	        		</div>
	        		

	        	</div>
        	</div>
        	<hr>
             <div class="row">
        		<div class="col-md-6 col-sm-12 col-xs-12">
	        		<div class="form-group">
	        			<label>Number of guests</label>
			         	<select class="form-control" id="guests">
					        <option>1</option>
					        <option>2</option>
					        <option>3</option>
					        <option>4</option>
					        <option>5</option>
					        <option>6</option>
					        <option>7</option>
					        <option>8</option>
					        <option>9</option>
					        <option>10</option>
					        <option>11</option>
					        <option>12</option>
					    </select>
	        			
	        		</div>
	        	

	        		<div class="form-group">
	        			<label>Max. number of guests (incl. extra beds)</label>
			         	<select class="form-control" id="max_guests">
					        <option>1</option>
					        <option>2</option>
					        <option>3</option>
					        <option>4</option>
					        <option>5</option>
					        <option>6</option>
					        <option>7</option>
					        <option>8</option>
					        <option>9</option>
					        <option>10</option>
					        <option>11</option>
					        <option>12</option>
					    </select>
	        			
	        		</div>
	        		
	        		<div class="form-group">
	        			<label>Price model</label>
	        			 <select class="form-control" id="object">
							    <option>fixed price-independent of number of person</option>
							    <option>flexible price-dependent on number of person</option>
							    
						</select>
			         	
	        		</div>
	        		
	        		<div class="form-group">
	        			<label>Price</label>
			         	<input type="textarea" name="txtprice"  placeholder="0.00"class="form-control">
	        		</div>
			         
	        	</div>
	        	<div class="col-md-6 col-sm-12 col-xs-12">
	        		<div class="form-group">
	        			<label>Cancellation policy</label><br>
	        			 <select class="form-control" id="cancel_policy">
							    <option>non-refundable</option>
							    
						</select>
	        		</div>
	        		
	        		

	        	</div>
        	</div>
        	<hr>
        	<div class="row">
        		<div class="col-md-6 col-sm-12 col-xs-12">
        			<button type="button" class="btn">Save</button>
                    <button type="button" class="btn btn-default">Cancel</button>
        		</div>
        	</div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
			      
	</div>
</div>
		

<script type="text/javascript">
	$(document).ready(
		function()
		{
			$('#toggle-one').bootstrapToggle();
			$('#toggle-two').bootstrapToggle();
   }
   );
</script>