html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #444444;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #fff
}

/* Anchor tag */
a {
  color: #3C763D;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   /*background:#ff0;*/
   padding:10px;
}

#body {
   margin-top: 120px;
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /*background:#6cf;*/
}

/* Our own version of buttons */
.fim-btn-primary {
    background-color: #3C763D !important;
    color: white !important;
    background-image: linear-gradient(to bottom,#3C763D 0,#3C763D 100%);
    border-color: #3C763D !important;
}

.fim-btn-secondary {
    background-color: #90C880 !important;
    color: white !important;
    background-image: linear-gradient(to bottom,#90C880 0,#90C880 100%);
    border-color: #90C880 !important;
}

.glyphicon-refresh-animate-custom {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}