.main-menu {
    border-radius: 0px;
    background-color: #30373b;
    border-color: #191d1f;
}

.logo-header .navbar-brand {
    padding: 0px;
}

.main-menu-items li a,
.right-bar li a {
    color: #fff !important;
}

.center-video {
    position: absolute;
    top: 80px;
    margin: 0 auto;
    left: 10%;
    border: 4px solid #fff;
    width: 78%;
}

.center-video-inner {
    position: absolute;
    top: 390px;
}

.col-register-btn {
    position: absolute;
    top: 390px;
}

.center-video-register {
    opacity: none;
}

.center-video-inner h1 {
    font-size: 36px;
    color: #03a9f4;
    font-weight: 600;
    margin-top: 0px;
}

.below-video-p-2 {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 2.1;
    margin-bottom: 14px;
}

.top-head-btn {
    background: #038dcc;
    width: 55%;
}

.col-register-btn {
    left: 50px;
}

.btn-link {
    font-size: 14px;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-link:hover {
    text-decoration: none!important;
}

.btn-link:focus {
    text-decoration: none;
}

.send-btn {
    width: 100%;
}

.bg-inverse .section-divider {
    width: 100px;
    height: 3px;
    background-color: #03a9f4;
    border: none;
}

.bg-inverse {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    color: #fff;
    margin-bottom: 0px;
}

.section-plan {
    background: #d8d8d8;
}

.bg-inverse {
    background-color: #cbcbcb;
}

.bg-inverse {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    color: #fff;
}

.middle-section {
    background: #d8d8d8;
}

hr {
    border-top: 1px solid #cbcbcb;
}

.distributor-login-form {
    margin-top: 90px;
}


/*#news-latter-input-email {
    width: 100%;
}*/

.footer-inverse .form-inline .btn {
    border: 1px solid #03A9F4;
    margin-left: 0px;
}

#news-latter-input-email {
    width: 100%!important;
}

.form-news .input-group {
    width: 80%;
}


/*=========================
  Icons
 ================= */


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background: #03a9f4;
    color: #fff !important;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

canvas {
    display: block;
    vertical-align: bottom;
    min-height: 600px;
}


/*join page select form css start*/

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -ms-box-sizing: inherit;
    box-sizing: inherit;
}

.plain-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.plain-select select {
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    color: #fff;
    margin: 0;
    line-height: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.ie8 .plain-select select {
    padding-right: 3px
}

.plain-select::-ms-expand {
    display: none;
}

.plain-select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    pointer-events: none;
}

.plain-select-small {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.plain-select-small select {
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    width: 135px !important;
    color: #999;
    margin: 0;
    line-height: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.ie8 .plain-select-small select {
    padding-right: 3px
}

.plain-select-small::-ms-expand {
    display: none;
}

.plain-select-small:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    pointer-events: none;
}


/*End select form css*/


/*// Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
    .footer-inverse .list-footer-links li a:not(.last-child)::after {
        content: "|";
        margin-left: 10px;
    }
    .list-inline {
        float: none!important;
    }
    .col-md-10.text-center.col-register-btn {
        width: 82% !important;
    }
    .col-register-btn {
        left: 66px !important;
    }
    .col-register-btn {
        position: absolute;
        top: 435px !important;
    }
}


/*// Small devices (landscape phones, 544px and up)*/

@media (max-width: 991px) {
    .col-register-btn {
        position: absolute;
        top: 315px;
    }
    .col-register-btn {
        left: 35px;
    }
    .col-md-10.text-center.col-register-btn {
        width: 85%;
    }
}

@media (max-width: 544px) {
    .col-md-10.text-center.col-register-btn {
        width: 83% !important;
    }
    .col-register-btn {
        left: 35px !important;
    }
    .col-register-btn {
        position: absolute;
        top: 345px !important;
    }
}