@font-face {
    font-family: 'Veal Nerve';
    src: url(../fonts1/Veal_Nerve.otf);

}

.color_blue {
  color: #2196F3;
}

.table thead tr th {
  text-align: center !important;
}

.whyBookDirectyl{
  color: #99e265;
}

.custom_checkbox {
  display: block;
  position: relative;
  /* padding-left: 25px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom_checkbox input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid #2196F3;
  padding: 0 0;
}

/* On mouse-over, add a grey background color */
.custom_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text-bold {
  font-weight: bold !important;
}

.error {
    color: #b4270f;
    font-family: univia-pro,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
}

.success {
  color: #10ae73;
  font-family: univia-pro,sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
}

.color_red {
  color: red;
  font-family: univia-pro,sans-serif;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

tbody tr:nth-child(even) {background: #F3F3F3}
tbody tr:nth-child(odd) {background: #FFF}


.margin-up-down {
  margin: 30px 0 !important;
}

.margin_10px {
  margin: 10px !important;
}

a {
    cursor: pointer;
    outline: medium none;
}

.pointer {
  cursor: pointer !important;
}
html.md-default-theme, html, body.md-default-theme, body {
    background-color: #ffffff;
}
.btn-bordered.btn-primary {
    border-bottom: none!important;
    border: 0px !important;
}
.btn-primary {
    background-color: black !important;
    /* border: 1px solid black !important; */
}
.btn-primary:focus {
    background-color: black !important;
    /* border: 1px solid black !important; */
}
.btn-primary:hover {
    background-color: black !important;
    /* border: 1px solid black !important; */
}
/* .header-bar, .topbar-left, .navbar-default {
  background-color: #ffeed8 !important;
  bottom: 30px;
} */
.button-menu-mobile i {
  color: white;
  font-size: 40px;
  /* margin-top: 10px; */
}
.button-menu-mobile:hover {
  color: #10ae73;
}
/* .navbar-default {
  height: 100px;
} */
.left.side-menu {
  top: 72px;
}
.user-side-menu {
  top: 140px!important;
}
.content-page {
  margin-top: 40px;
}
.topbar-left{
  /* padding-top: 5px; */

}
.navbar-nav > li .logo {
  margin-top: 30px;
}

.logo-text {
  float: right;
}
/* .navbar-default {
  padding-top: 20px;
} */
.user-box .user-img {
  height: 40px;
  width: 40px;
  margin-top: 11px;
}
.page-title {
  font-size: 32px;
}
.breadcrumb li a {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
#sidebar-menu  ul li a {
    color: #000000 !important;
    font-weight: bold !important;
    font-size: 18px;
}
#sidebar-menu ul ul a {
    color: black !important;
    font-weight: bold !important;
}

.app-green-text {
  color: black !important;
}
button.button-menu-mobile.open-left.waves-effect {
  /* visibility: hidden; */
  /* top: 20px; */
}

.dropdown-menu > li > a {
  font-weight: bold;
}

.card-box-green {
  background-color:   black !important;
}

.card-box-bg {
  background-color: white !important;
}
.card-box .header-color {
  color: #000000;
}
.checkbox-text {
  font-size: 18px;
  color: #000000;
}

.checkbox-text input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}

.medium-checkbox input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}

.app-text-center {
  margin-left: 15%;
  margin-top: 30px;
}

.app-name {
  font-family:Veal Nerve;
  font-size: 35px;
  color: #000000;
}

.first-letter-uppercase {
  text-transform: capitalize;
}

#dashboardBookingBlog ul {
  list-style: none;
}
#dashboardBookingBlog ul li{
  padding: 10px;
}

#dashboardBookingBlog ul li:hover {
  background-color: #ada8a2;
  cursor: pointer;
}

.slimScrollBar {
  width: 15px !important;
  background-color: #000000 !important;
  color: #000000 !important;
}

.color-black {
  color: black !important;
}

.color-white {
  color: #ffffff !important;
}

.color-black-bold {
  color: #000000 !important;
  font-weight: bold !important;
}

.color-black-light {
  color: #000000 !important;
  font-weight: 400 !important;
}

.btn-light {
    background-color: #ffeed8!important;
    border: 1px solid #10ae73 !important;
    color: #000000 !important;
}

.btn-light:hover {
    background-color: #10ae73!important;
    border: 1px solid #10ae73 !important;
    color: #ffffff !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #10ae73 !important;
    border-color: #10ae73 !important;
}

.text-size {
  font-size: 18px !important;
}

.dashed-border {
  border: 1px dashed grey;
  padding: 5px;
}

.content-page .content .widget-box-one{
  min-height: 120px;
  display: flex;
}

.content-page .content .widget-box-one h4{
  color: #000000;
}
.content-page .content .widget-box-one .wigdet-one-content{
  flex: 1;
}
.content-page .content .widget-box-one img{
  flex: 0.2;
}

.content-page .content .widget-box-one i{
  color:#10ae73;
  font-size:50px !important;
}

.home-page{
  min-height: 800px;
  padding: 0;
}

.home-page .row{
  padding: 0;
  margin: 0;
}

.home-page .home-page-content{
  background-image: url('../../assets/images/blur.jpg');
  min-height: 800px;
}

.hotel-title{
  text-align: center;
}
.hotel-title h1{
  color: #10ae73;
  font-weight: bold;
  margin-top: 150px;
}

.login-button{
  margin-top: 200px;
}

.login-button button{
  margin: 0 10px;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

.login-button button:hover{
  color: #10ae73;
}

input.form-control.bordered-input {
  border : 1px solid grey !important;
  border-radius: 5px !important;
  width: 150px !important;
  padding: 0 10px;
  /*margin-top: 10px; */
  margin: 0px auto 0px auto;
}
input.form-control.bordered-input.inputsmall {
  border : 1px solid grey !important;
  border-radius: 5px !important;
  width: 50px !important;
  padding: 0 10px;
  margin: 0px auto -10px auto;
}
.thead-light {
  background-color: black !important;
  color:#ffffff;
}
td {
  color: black !important;
}

 i.fa.fa-trash {
  /* margin-left: 30px; */
  color: red !important;
  font-size:25px !important;
}
i.fa.fa-pencil {
  font-size:25px !important;
}

.gap {
  margin-top: 20px !important;
}

.move-right {
  margin-left: 20px !important;
}

.rowmargin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.select-width {
  width: 50px !important ;
}

.inlinedisplay {
  display: inline;
}

.btn-top-space{
  top:-10px !important;
  right:23px !important;
}
.btn-space {
  right : -10px !important;
}
.btn-top-space1 {
  top:-50px !important;
  right:23px !important;
}
.div-space {
  margin-left:20px !important;
}
.bold-none {
  font-weight: normal !important;
}
.topspace {
  margin-top: 30px !important;
}
.bgcolor{
  background-color: #000000 !important;
}

/*  Mobile responsmargin: 0 -10%;ive*/
@media(max-width: 500px){
  div.nav.navbar-nav > .logo-text {
    width: 180px;
    height: 30px;
  }
}

@media(max-width:600px) {
  button.button-menu-mobile.open-left.waves-effect {
    visibility: visible;
    /* padding-top: 10px; */
  }
  .img-response{
    display: none;
  }
  .page-title {
    font-size: 23px;
  }

  .app-name {
    font-size: 18px;
    top: 10px;
  }
  .app-text-center {
    margin-left: -10px;
  }

  .navbar-default {
    height: 0px;
  }
  .left.side-menu {
    top: 47px;
  }
  .topbar-left{
    padding-top: 0px;
  }
  .navbar-default {
    padding-top: 0px;
    margin: -4px 0 0 0;
  }
  .user-box .user-img {
    height: 40px;
    width: 40px;
    top: -4px;
    /* margin-left: 210px; */
  }
  .logo {
    visibility: hidden;
  }
}
.marg-top{
  margin-top: 4px !important;
  position: absolute !important;
}
/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


@media (min-width:359px) and (max-width:415px) {
    .img-responsive{
		      display: block !important;
		}
    .display-hide {
      display: none !important;
    }
    .align-box{
      right: 42px;
      top: 4px;
    }
    .img-align{
      margin-top: -10px;
    }
    .colour-change{
      background-color: #777;
      margin-left: -15px;
      z-index: 999999;
    }
    .colour-change li a{
      color: white;
    }
    .margin-top{
      top: 71px !important;
    }
}​
.btncolor{
  background-color: white !important;
}
/* @media (min-width:416px) and (max-width:1500px){
  button-menu-mobile{
    display: none !important;
  }
} */


/**
@autor: Nisha
 */

 *{
 	padding: 0;
 	margin: 0;
 	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
 }
 .contact img{
 	width: 100%;
 	height: 100%;
 	opacity: 0.5;
 }
 .contact h1 {
  color: black;
  margin-top: -300px;
  font-size: 50px;
   }
   .contact1{
 	width: 100%;
 	height: 450px;
 }
 .contact1 img{
 	width: 100%;
 	height: 100%;
}
.everyday p{

  color: #262626;
  line-height: 1.5em;
  font-size: 18px;
  font-weight:300;
  text-align: center;
}
.read-more:hover {
    border-bottom: none;
  }
.read-more {
  text-align: center;
  text-transform: uppercase;
padding-bottom: 2px;
}
/* .col-md-4 {
  padding-left: 50px;
  padding-right: 50px;
} */
   everyday img {

  width: 100%;
  height: 200px;
  box-shadow: 0px 4px #e0e0e0;
     }
     #prices{
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    display: block;
    color: blue;
  }
  /* #prices{
  font-size: 13px;
} */
/* #prices{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
} */

   .contact img {

     width: 100%;
     height: 100%;
     opacity: 0.5;
   }
   .txt-colour {
    color: black !important;
   }
    .txt-colour:hover{
      color: #99e265 !important;
    }

    @media (min-width:359px) and (max-width:415px) {
    		.mobile-align{
    			text-align: justify !important;
          padding: 20px !important;
    		}
    }
    @media (min-width:319px) and (max-width:322px) {
      .mobile-align{
        text-align: justify !important;
        padding: 20px !important;
      }
      .img-aligns{
        margin-left: 180px !important;
      }
      .img-aligs{
        margin-left: 128px !important;
      }
    }
    .mobile-align{
      text-align: justify;

    }





    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }










    .content{
    	padding:50px 0;
    }
    .content h1{
        color: #fff;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    	font-family: 'Amaranth', sans-serif;
    }
    .main{
    	width:100%;
    	/* margin:45px auto; */
    	background:#fff;
    	padding:30px 30px;

    }
    .main form input[type="text"], .main form input[type="password"] {
        width: 94%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        outline: none;
        color: #D8D5D5;
        margin-bottom: 30px;

    }
    .main h5 {
        color: black;
        margin-bottom: 8px;
    	font-size:19px;
        font-family: 'Josefin Slab', serif;
        font-weight: 600;
    }
    .main h5 span{
    	font-size:15px;
    	color:#ccc;
    }
    .main form input[type="text"]:hover,  .main textarea:hover{
    	border: 1px solid #4cc2c4;
    	color:#000;
    	transition:0.5s all;
    	-webkit-transition:0.5s all;
    	-moz-transition:0.5s all;
    	-o-transition:0.5s all;
    	-ms-transition:0.5s all;
    }

    .main form input[type="submit"] {
        background: black;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 0;
        border: none;
        border-bottom:4px solid black;
        font-size: 16px;
        outline: none;
        width: 94%;
        cursor: pointer;
        margin-bottom: 0px;
    	text-transform:capitalize;

    }
    .main form input[type="submit"]:hover{
        background: #000;
        border-bottom:4px solid #403E3E;
    	transition:0.5s all;
    	-webkit-transition:0.5s all;
    	-moz-transition:0.5s all;
    	-o-transition:0.5s all;
    	-ms-transition:0.5s all;
    }
     .main textarea {
        width: 94%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        outline: none;
        color: #D8D5D5;
        margin-bottom: 20px;
    	outline:none;
    	resize:none;
        height: 100px;
        font-family: 'Lato', sans-serif !important;
    }

    .radio-btns label {
      font-size: 14px;
      /* vertical-align: text-top; */
      margin: 0;
    }
    /*start-checkbox*/
    .checkbox {
    	padding-left: 25px;
    	color: #B6B6B6;
    	cursor: pointer;
    	position:relative;
    	font-size:12px;
    }
     .checkbox:last-child {
    	margin-bottom: 0;
    }
    .checkbox input {
    	position: absolute;
    	left: -9999px;
    }
    .checkbox i {
    	position: absolute;
    	bottom: 7px;
    	left: 0px;
    	display: block;
    	width: 19px;
    	height: 20px;
    	outline: none;
      border: 3px solid #DF1E1C;
      background: #fff;
    	border-radius:3px;
    	-webkit-border-radius:3px;
    	-moz-border-radius:3px;
    	-o-border-radius:3px;
    }
    .checkbox input + i:after {
    	position: absolute;
    	opacity: 0;
    	transition: opacity 0.1s;
    	-o-transition: opacity 0.1s;
    	-ms-transition: opacity 0.1s;
    	-moz-transition: opacity 0.1s;
    	-webkit-transition: opacity 0.1s;
    }
    .checkbox input + i:after {
    	content: '';
    	background: url("../../assets/images/tick-mark1.png") no-repeat center;
    	top: -6px;
    	left: 0px;
    	width: 18px;
    	height: 18px;
    	text-align: center;
    }
    .form-elements li:nth-child(2) {
    	margin-left: 18px;
    	width: 37%;
    }
    .checkbox input:checked + i:after {
    	opacity: 1;
    }
    .checkbox input:checked + i {
      border: 3px solid #DF1E1C;
      background: #fff;
    }
    .radio,.radio1,.radio2,.radio3 {
    	position: relative;
    	display:inline-block;
    	margin-left:15px;
    }
    .radio:first-child,.radio1:first-child ,.radio2:first-child,.radio3:first-child{
    	margin-left: 0;
    	margin: 0;
    }
    .radio ,.radio1,.radio2 ,.radio3{
    	padding-left:20px;
    	line-height: 18px;
    	color: #404040;
    	cursor: pointer;
    }
    .radio  input[type="radio"],.radio1  input[type="radio"],.radio2  input[type="radio"],.radio3  input[type="radio"]{
    	position: absolute;
    	left: -9999px;
    }
    .radio-btns label {
      font-size: 14px;
      color: #A5A5A5;
      /* padding: 0px 0 0 2px; */
      }
    .radio i,.radio1 i,.radio2 i,.radio3 i  {
    	position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 12px;
        height: 12px;
        outline: none;
        border: 1px solid black;
        background: #fff;
        cursor: pointer;
        border-radius: 100%;
    }

    .radio input + i:after,.radio1 input + i:after ,.radio2 input + i:after,.radio3 input + i:after {
    	position: absolute;
    	opacity: 0;
    	transition: opacity 0.1s;
    	-o-transition: opacity 0.1s;
    	-ms-transition: opacity 0.1s;
    	-moz-transition: opacity 0.1s;
    	-webkit-transition: opacity 0.1s;
    }
     .radio input + i:after, .radio1 input + i:after , .radio2 input + i:after, .radio3 input + i:after{
    	content: '';
    	top: 6px;
    	left: 7px;
    	width: 5px;
    	height: 5px;
    	border-radius: 50%;
    	-webkit-border-radius: 50%;
    	-moz-border-radius: 50%;
    	-o-border-radius: 50%;
    }
    .radio input:checked + i:after,.radio1 input:checked + i:after,.radio2 input:checked + i:after,.radio3 input:checked + i:after{
    	opacity: 1;
    }
    .check_box {
        float: left;
        width: 23%;
    }
    .check_box_one {
        float: left;
        width: 31%;
    }
    /*** normal state ***/
    .radio i ,.radio1 i,.radio2 i ,.radio3 i {
    	transition: border-color 0.3s;
    	-o-transition: border-color 0.3s;
    	-ms-transition: border-color 0.3s;
    	-moz-transition: border-color 0.3s;
    	-webkit-transition: border-color 0.3s;
    }
    /*** checked state ***/
    .radio input + i:after,.radio1 input + i:after,.radio2 input + i:after,.radio3 input + i:after {
        content: '';
        background: url("../../assets/images/tick-mark1.png") no-repeat -1px -1px;
        top: -0.1px;
        left: -0.7px;
        width: 6.9px;
        height: 6px;
        text-align: center;
        border-radius: 100%;
    }
    .radio input:checked + i ,.radio1 input:checked + i,.radio2 input:checked + i ,.radio3 input:checked + i{
      border: 3px solid black;
      background: #fff;
    }
    .swit {
        /* margin-bottom: 30px; */
    }
    /*-- responsive media queries --*/
    @media (max-width: 1440px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 1366px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 1280px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 1080px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 1024px){
    	.main {
    		width: 100%;
    	}
    	.main textarea {
    		height: 80px;
    	}
    	.main form input[type="text"],.swit {
    		margin-bottom: 22px;
    	}
    	span.starRating {
    		margin: 0px 0 22px;
    	}
    }
    @media (max-width: 991px){
    	.main {
    		width: 100%;
    	}
    	.radio-btns label {
    		font-size: 13px;
    	}
    	.main form input[type="text"],.main textarea,p.footer {
    		font-size: 13px;
    	}
    	.radio input + i:after, .radio1 input + i:after, .radio2 input + i:after, .radio3 input + i:after {
    		width: 6px;
    		height: 6px;
    	}
    	.radio i, .radio1 i, .radio2 i, .radio3 i {
    		top: 4px;
    	}
    }
    @media (max-width: 800px){
    	.main {
    		width: 100%;
    	}
    	.content h1 {
    		font-size: 38px;
    	}
    }
    @media (max-width: 768px){
    	.main {
    		width: 100%;
      }
    }
    @media (max-width: 736px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 667px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 640px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 600px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 568px){
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 480px){
    	.main form input[type="text"],.main textarea {
    		padding: 7px;
    		width: 95%;
    	}
    	.main {
    		width: 78%;
    	}
    }
    @media (max-width: 414px){
    	.main form input[type="text"], .main textarea {
    		width: 94%;
    	}
    	.check_box,.check_box_one {
    		float: left;
    		width: 100%;
    	}
    	.main form input[type="submit"] {
    		padding: 12px 0;
    	}
    	p.footer {
    		line-height: 1.8em;
    	}
    	.content h1 {
    		font-size: 35px;
    	}
    	.main h5 {
    		line-height: 1.5em;
    	}
    	.main {
    		width: 100%;
    	}
    }
    @media (max-width: 384px){
    	.main form input[type="text"], .swit {
    		margin-bottom: 18px;
    	}
    	.content h1 {
    		font-size: 33px;
    	}
    	.main {
    		/* margin: 35px auto; */
    		padding: 25px 25px;
    	}

    }

    @media (max-width: 320px){
    	.content h1 {
    		font-size: 30px;
    	}
    	.main {
    		padding: 20px 20px;
    		width: 81%;
    	}
    	.main h5 {
    		font-size: 16px;
    	}
    	.main form input[type="submit"] {
    		padding: 12px 0 8px;
    	}
    }
/* @media (min-width:415px) and (max-width:1500px){
        .main{
          padding-left: 65% !important;
        }
} */
@media (min-width:319px) and (max-width:322px) {
    .align-box{
      margin-left: 110px;
      top: -27px;
    }
    .displayhide{
      display: none;
    }
    .display-hide {
      display: none !important;
    }
    .headerIBC{
      width: 100% !important;
    }
    .header1{
      padding-bottom: 2px;
      height: 50px;

     }
     .imagepadding{
      padding-top: 1px;
      padding-right: 15px;
      padding-bottom: 1px;
      padding-left: 15px;
     }

}



@media (min-width:359px) and (max-width:361px) {
    .align-box{
      margin-left: 191px;
      top: -27px;
    }
    .container-height{
      /* height: 49px; */
    }
    .headerIBC{
      width: 100% !important;
    }
    .img-aligns{
      margin-left: 210px !important;
    }
}
@media (min-width:410px) and (max-width:415px) {
  .align-box{
    margin-left: 243px;
    top: -27px;
  }
  .display-hide {
    display: none !important;
  }
  .headerIBC{
    width: 100% !important;
  }
  .header1{
    padding-bottom: 2px;
    height: 50px;
   }
   .img-aligns{
     margin-left: 254px !important;
   }
}

/* responsiveness for iphone X */
@media (min-width:373px) and (max-width:377px) {
    .align-box{
      margin-left: 210px;
      top: -27px;
    }
    .headerIBC{
      width: 100% !important;
      margin-bottom: -2px;
    }
    .apartmentCaousel{
      width:auto !important;
      /* margin-left: -454px;  */
   }
   .aboutusContent{
     width: 86% !important;
   }
   .header1{
    padding-bottom: 2px;
    height: 50px;
   }
   .img-aligns{
     margin-left: 226px !important;
   }
}
@media (min-width:765px) and (max-width:769px) {
  .display-hide {
    display: none !important;
  }
  .headerIBC{
      padding: 0px;
      /* height: 74px !important; */

  }
  .img-aligns{
    margin-left: 546px !important;
  }
  .img-aligs{
    margin-left: 546px !important;
  }
  .availability_form{
    position: absolute;
    left: 14px;
    top: 345px;
    width:100%;
    width: -moz-fit-content;
    background-color: transparent;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .availibility_form_group {
    background: white;
    padding: 10px 10px;
    border-radius: 8px;
  }
  .availibility_btn {
    padding: 18px 48px;
    background: #99e265;
    border-radius: 8px;
  }
  /* .navbar-toggle{
    display:block !important;
  }
  .colour-change{
    display: none !important;
  } */
}
@media (min-width:1022px) and (max-width:1027px) {
    .headerIBC{
        padding: 0px;
        height: 74px !important;
        width: 100%;

    }

    .availability_form{
      position: absolute;
      /* left: 140px; */
      top: 448px;

      width: -moz-fit-content;
      background-color: transparent;
      padding: 10px 10px;
      margin-left: auto;
      margin-right: auto;
    }

    .availibility_form_group {
      background: white;
      padding: 10px 10px;
      border-radius: 8px;
    }
    .availibility_btn {
      padding: 18px 48px;
      background: #99e265;
      border-radius: 8px;
    }
}
@media (min-width:700px) and (max-width:2000px) {
  .availibility_btn{
    width: 171px;
  }

}
@media (min-width:1027px) and (max-width:4000px) {
  .HeaderTop{
    margin-right: 26px !important;
    float:right;
}
.apartmentCaousel{
  margin-left: -454px;
}
.skewHeaderCorner{
  height:100px;
  -webkit-transform: perspective(100px) rotateX(-3deg);
  -webkit-transform-origin: left center;
  -moz-transform: perspective(100px) rotateX(-3deg);
  -moz-transform-origin: left center;
}
.myNavbar2{
  -webkit-transform: perspective(100px) rotateX(3deg);
  -webkit-transform-origin: left center;
  -moz-transform: perspective(100px) rotateX(3deg);
  -moz-transform-origin: left center;
}
.guestBtnSize{
  width:130px;
}
}
.user_feedback_btn_color{
  width: 221px;
  height: 45px;
  margin-left: 242px;
  background-color: black;
}
/* .apartmentthree{
  background-color: lavender;
    padding: 27px;
    margin-right: 14px;
    width: 141%;
    margin-top: 123px;
    margin-left: -346px;"
} */

.apartmentCaousel{
  width:171%;
    /* margin-left: -454px !important ; */
}

.textcolor{
  color:black;
}





/* -- quantity box -- */

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 39px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }

 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

 .topbar-position
 {
   position: absolute !important;
 }

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

 * {
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 	-webkit-box-sizing:border-box;
 	-moz-box-sizing:border-box;
 	-webkit-font-smoothing:antialiased;
 	-moz-font-smoothing:antialiased;
 	-o-font-smoothing:antialiased;
 	font-smoothing:antialiased;
 	text-rendering:optimizeLegibility;
 }

 body {
 	/* font-family:"Open Sans", Helvetica, Arial, sans-serif;
 	font-weight:300;
 	font-size: 12px;
 	line-height:30px;
 	color:#777; */
 	/* background:#0CF; */
 }

 /* .container {
 	max-width:400px;
 	width:100%;
 	margin:0 auto;
 	position:relative;
 } */

 #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

 #contact {
 	background:#F9F9F9;
 	padding:25px;
 	/* margin:50px 0; */
 }

 #contact h3 {
 	color: #F96;
 	display: block;
 	font-size: 30px;
 	font-weight: 400;
 }

 #contact h4 {
 	margin:5px 0 15px;
 	display:block;
 	font-size:13px;
 }

 fieldset {
 	border: medium none !important;
 	margin: 0 0 10px;
 	min-width: 100%;
 	padding: 0;
 	width: 100%;
 }

 #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
 	width:100%;
 	border:1px solid #CCC;
 	background:#FFF;
 	margin:0 0 5px;
 	padding:10px;
 }

 #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
 	-webkit-transition:border-color 0.3s ease-in-out;
 	-moz-transition:border-color 0.3s ease-in-out;
 	transition:border-color 0.3s ease-in-out;
 	border:1px solid #AAA;
 }

 #contact textarea {
 	height:100px;
 	max-width:100%;
   resize:none;
 }

 #contact button[type="submit"] {
 	cursor:pointer;
 	width:100%;
 	border:none;
 	background:#0CF;
 	color:#FFF;
 	margin:0 0 5px;
 	padding:10px;
 	font-size:15px;
 }

 #contact button[type="submit"]:hover {
 	background:#09C;
 	-webkit-transition:background 0.3s ease-in-out;
 	-moz-transition:background 0.3s ease-in-out;
 	transition:background-color 0.3s ease-in-out;
 }

 #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

 #contact input:focus, #contact textarea:focus {
 	outline:0;
 	border:1px solid #999;
 }
