#loginHeader{
	background: #ffeed8;
		width: 100%;
		padding-bottom: 38px;
		padding-top: 20px;
}

#loginHeader img {
		width: 510px;
		height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 768px){

  #loginHeader{

  		border-radius: 0;
  		padding: 20px;
  }

}
