body, html {
    height: 100%;
    background-color: #d8d8d8;
    /*background-color: rgb(97, 97, 97);*/
}

html {
    font-size: 62.5%;
}
html {
    font-family: sans-serif;
}

/*body {
    background-color: #d8d8d8;
    color: #30373b;
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 14px;
    line-height: 1.71429;
}*/

ul#payment-method li{
  float: none !important;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #30373b;
    font-weight: 700;
    line-height: 1.42857;
    margin-right: 2px;
}

#register-form .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #d8d8d8;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #03a9f4;
    cursor: default;
}

#register-form.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #d8d8d8;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #03a9f4;
    cursor: default;
}
#register-form.nav-tabs > li.active > a #glyphicon-ok-sign{
  font-size: 24px;
}
#register-form .error{
	color: #B4270F;
	font-family: univia-pro,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
}

.vis {
    display: none;
}

.select-package-dropdown {
  width: 100%;
}

section#start-your-freedom-today{
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../images/join-today-img.jpg')
}

section#who-is-xonnova{
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/bgmiddle.jpg')
}


header {
  position: absolute;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../img/header.jpg');*/
  text-align: center;
  color: white;
}
header .header-content {
  position: absolute;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar {
    font-family: univia-pro,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/*=======================================particle css=================================*/
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color:#30373b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#stats{
  display:none !important;
}

#particleJs {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color:#30373b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

#particleJS2 {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-color: #30373b;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%
  background-color: transparent;
}

.hero-inverse {
    background-color: transparent;
}

.hero-video-wrapper{
  border: 4px solid #fff;
  max-width: 740px;
  margin: auto;
}

.hero-wrapper-inner h1 {
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-primary {
    fill: #03a9f4;
}

.text-primary {
    color: #03a9f4;
}

.hero-wrapper-inner .h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 12px;
    margin-top: 24px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: univia-pro,Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

.hero-wrapper p {
    color: #fff;
}

.lead {
    font-size: 21px;
}

.lead {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 24px;
}

p {
    margin: 0 0 12px;
}

.btn {
    font-family: univia-pro,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-danger, .btn-info, .btn-primary, .btn-success, .btn-warning {
    border: medium none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateZ(0px);
    transition: all 0.35s ease 0s;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 3px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 34px;
}

.btn-primary {
    background-color: #03a9f4;
    border-color: #0398db;
    color: #fff;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71429;
    margin-bottom: 0;
    padding: 6px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#news-latter-input-email{
    width: 400px;
}

.btn-xl{
	padding-top: 20px;
	padding-bottom:20px;
}

#start-ur-freedom-btn-2{
	font-size:18px;
}

.btn-default.active, .btn-default:active {
    background-color: #30373b;
    box-shadow: none;
    color: #03a9f4;
}

@media screen and (min-width: 250px) and (max-width: 620px) {
	.btn {
		-moz-user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 2px;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.71429;
		margin-bottom: 0;
		padding: 6px 15px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
	}
	.hero-wrapper {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 100%
		background-color: transparent;
	}
	#start-ur-freedom-btn-2{
		font-size:14px;
	}
	#news-latter-input-email{
		width: 100%;
	}
}

input.form-control {
    background-color: #cbcbcb;
    border: 2px solid #a5a5a5;
    box-shadow: none;
}

.panel {
    background-color: #d8d8d8;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.panel-animated, .panel.animated {
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-timing-function: ease;
    backface-visibility: hidden;
}

.arrow-up::before {
    border-color: hsla(0, 0%, 80%, 0) hsla(0, 0%, 80%, 0) #cbcbcb;
    border-width: 18px;
    margin-left: -18px;
}
.arrow-up::after, .arrow-up::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.panel-body::after, .panel-body::before {
    content: " ";
    display: table;
}

.arrow-up::after {
    border-color: hsla(0, 0%, 85%, 0) hsla(0, 0%, 85%, 0) #d8d8d8;
    border-width: 15px;
    margin-left: -15px;
}
.arrow-up::after, .arrow-up::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.panel-body::after {
    clear: both;
}
.panel-body::after, .panel-body::before {
    content: " ";
    display: table;
}

.panel-body {
    padding: 20px;
}
.nopadding {
  padding:0!important;
}
.nomargin {
  margin:0!important;
}
