#dashboardMainContainer{
    /*border: 1px solid black;*/
    width: 90%;
    margin-left: 8%;
}

#dashboardHeader{
    background: #ffeed8;
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px;
}
#dashboardHeader p{
    margin: 0;
    font-size: 25px;
    font-weight: bolder;
}


#dashboardEditor,#dashboardBookingBlog{
    background: #ffeed8;
    border-radius: 30px;
    padding: 10px 30px;
}
#dashboardBookingBlog{
    padding: 10px 5px 10px 40px;
}

#dashboardEditor p:nth-child(1){
    font-size: 24px;
    font-weight: bolder;
}
#dashboardEditor p:nth-child(2){
    font-size: 25px;
    font-weight: bolder;
}

#dashboardEditor p:nth-child(3),#dashboardEditor p:nth-child(4),#dashboardEditor p:nth-child(5),#dashboardEditor p:nth-child(6){
    display: inline-flex;
}

#dashboardEditor p:nth-child(3) span,#dashboardEditor p:nth-child(4) span,#dashboardEditor p:nth-child(5) span,#dashboardEditor p:nth-child(6) span{
  font-size: 18px;
  font-weight: bolder;

}
#dashboardEditor p input[type="checkbox"]{
    width: 19px;
    height: 19px;
    cursor: pointer;
}

#dashboardBookingBlog p:nth-child(1){
   font-size: 26px;
   font-weight: bolder;
   margin-left: -16px;
}

#dashboardBookingBlog p:nth-child(1) img{
   width: 40px;
   height: auto;
}

#dashboardBookingBlog p:nth-child(2){
   font-size: 20px;
   font-weight: bolder;
}
#dashboardBookingBlog p:nth-child(3){
   font-size: 18px;
   font-weight: bolder;
}

@media(max-width: 400px){
    
#dashboardMainContainer{
    /*border: 1px solid black;*/
    width: 100%;
    margin-left: 0;
    margin-top: -50px;
}

#dashboardEditor p:nth-child(2) {
        font-size: 16px;
        font-weight: bolder;
    }
    #dashboardEditor p input[type="checkbox"] {
    width: 30px;
    height: 20px;
    cursor: pointer;
    }

[class*="col-"] {
   margin-top: 15px;
}

}
@media(min-width: 400px) and (max-width: 768px){
    
#dashboardMainContainer{
    /*border: 1px solid black;*/
    width: 100%;
    margin-left: 0;
    margin-top: -50px;
}

#dashboardEditor p:nth-child(2) {
        font-size: 19px;
        font-weight: bolder;
    }
    #dashboardEditor p input[type="checkbox"] {
    width: 30px;
    height: 20px;
    cursor: pointer;
    }

[class*="col-"] {
   margin-top: 15px;
}
}