#loginHeader{
	background: #ffeed8;
    width: 100%;
    padding-bottom: 38px;
    padding-top: 20px;
}

#loginHeader img:nth-child(1){
	 margin-left: 40px;
    width: 125px;
    height: auto;

}

#loginHeader img:nth-child(2){

	margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    margin-top: -73px;
    width: 510px;
}

#loginHeader img:nth-child(3){

	    float: right;
    width: 72px;
    height: auto;
    margin-top: -68px;
    margin-right: 60px;
}

#loginHeader span{
    position: absolute;
    top: 71px;
    right: 67px;
    color: #000;
    font-weight: bold;
    font-size: 19px;
}

.log{

  background: #ffeed8;
  padding: 9%;
  border-radius: 30px;
  margin-top: 50px;
}
.login{
  background-color: #179d67;
  color:#ffffff;
  padding: 5px 20px;
  font-size: 18px;
  margin-bottom: 10px;
}
.sub{
  background-color: #179d67;
  color:#ffffff;
}
@media(max-width: 450px){
  .log{
      margin-right: -10px !important;
        margin-left: -10px !important;
    }

}

@media(max-width: 768px){

#loginHeader{

    border-radius: 0;
    padding: 20px;
}

#loginHeader img:nth-child(1),#loginHeader img:nth-child(3),#loginHeader span{
  display: none;
}

#loginHeader img:nth-child(2){

   margin-top: 9px;
   width: 300px;
}
#menuIcon{
    display: block;
    /*z-index: 9999999;*/
}

}
