*{
	padding: 0;
	margin: 0;	
	font-family: Calibri, sans-serif;

}

#headerContent{
	background: #ffeed8;
    width: 100%;
    padding-bottom: 38px;
    padding-top: 20px;
    position: fixed;
    border-radius: 0px 0px 25px 25px;
}

#headerContent img:nth-child(1){
	 margin-left: 40px;
    width: 125px;
    height: auto;

}

#headerContent img:nth-child(2){

	margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    margin-top: -73px;
    width: 510px;
}

#headerContent img:nth-child(3){

	    float: right;
    width: 72px;
    height: auto;
    margin-top: -68px;
    margin-right: 60px;
}

#headerContent span{
    position: absolute;
    top: 71px;
    right: 67px;
    color: #000;
    font-weight: bold;
    font-size: 19px;
}
#menu{
    position: fixed;
    top: 18%;
    left: 18px;

}
#menu li a{
    text-decoration: none;
    color: #000000;
}
#menu li{
    list-style: none;
    margin-top: 10px;
     cursor: pointer;
}
#menu li p{
   text-align: center;
   font-weight: bolder;
   font-size: 13px;
   /*margin-top: 5px;*/
}

#menu li img{
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menuIcon{
    position: fixed;
    display: none;
    top: 88px;
    left: 10px;
    font-size: 28px;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
    z-index: 999;
}
#menu li a:hover p{
    color: #179d67;
}

.active p{
    color: #179d67;
}


@media(max-width: 360px){

  #menu{
    display: none;
    /*border: 1px solid black;*/
  }
    #menu li{
        display: block;
        margin: auto;
    }

}
@media(max-width: 768px){

#close{
   position: absolute;
    color: #000000;
    right: 19px;
    /*display: none;*/
    top: 1px;
    font-size: 30px;
    font-weight: bolder;
    /* display: none; */
    z-index: 999;
    cursor: pointer;
}
#headerContent{

    border-radius: 0;
    padding: 20px;
}
 #menu{
    background: #FDFEFE;
    margin: auto;
    left: 0;
    z-index: 9999;
    overflow: auto;
    display: none;
    top: 81px;
    height: 89vh;
    width: 54%;
    padding: 20px;
    padding-bottom: 50px;

    }

    #menu li{
        margin-top: 20px;
    }
    #menu li img{
        width: 60px;
    }

    #menu li p{
       font-size: 18px;
    }

#headerContent img:nth-child(1),#headerContent img:nth-child(3),#headerContent span{
  display: none;
}

#headerContent img:nth-child(2){

   margin-top: 9px;
   width: 300px;
}
#menuIcon{
    display: block;
    /*z-index: 9999999;*/
}

}

