
#menuBarContent{
   background: #ffeed8;
    width: 86%;
    display: block;
    margin: auto;
    margin-right: 53px;
    border-radius: 30px;
}
#menuBar2{
    background: #10ae73;
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 50px;
}
#menuBar1{
   
    background: #10ae73;
    display: block;
    margin: auto;
    padding: 15px;
    width: 86%;
    margin-right: 53px;
    border-radius: 50px;
}
#menuBar1 ul li,#menuBar2 ul li{
    list-style: none;
    display:inline-block;
    text-align: center;
    padding-left: 10px;
    

}

/*#table{
    padding: 15px;
    width: 86%;
    margin-right: 53px;
    border-radius: 50px;

}*/
#menuBar1 ul li a,#menuBar2 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

#sortMenu{
    text-align: center;
}
#sortMenu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
#sortMenu ul li:nth-child(odd){
    font-weight: bolder;
    font-size: 18px;
    color: #000;
}

/*#sortMenu ul li:nth-child(even){
  
}*/


#sortMenu ul li:nth-child(even) select{
  border: none;
    padding: 8px;
    font-size: 13px;
    border-radius: 50px;
    background: #ffeed8;
}

#data{
     background: #ffeed8;
    display: block;
    /* margin: auto; */
    float: right;
    padding: 15px;
    /* margin-top: 50px; */
    width: 86%;
    margin-right: 55px;
    /* margin-left: 30px; */
    /*border-radius: 50px;*/
}

th{
    font-size: 20px;
}

#tableInfo{
    text-align: center;font-weight: bolder; font-size: 20px;
}


/****************for very small mobile ****************/
@media(max-width: 400px){

#headerContent img:nth-child(2) {
    width: 230px;
}

#menu{
    top: 73px;
    /*padding: 0;*/
    padding-top: 5px;
}
#menuIcon {
    top: 78px;
    font-size: 22px;

}

#menu li img {
    width: 35px;

}
#menu li p {
    font-size: 12px;
}

#close {
    right: 12px;
    font-size: 23px;
}

#menuBar1{
    padding:2px;
    margin-top: -50px;
    width: 100%;
}

#menuBar1 ul li a,#menuBar2 ul li a{
    font-size:11px;
}

#menuBarContent{
    width: 100%;
    border-radius: 20px;
}

th{
    font-size: 13px;
}

#tableInfo{
   font-size: 14px;
}
#menuBar2{
    padding:2px;
}

#sortMenu ul li{
    margin-left: 5px;
    margin-top: 5px;
}
#sortMenu ul li:nth-child(odd){
    font-size: 12px;
}

#sortMenu ul li:nth-child(even) select{
    padding: 4px;
    font-size: 10px;
    border-radius: 50px;
}

}

@media(min-width: 400px) and (max-width: 768px){


#menuBarContent{
  /* background: #ffeed8;*/
    width: 100%;
    display: block;
    margin: auto;
   /* margin-right: 53px;*/
    border-radius: 30px;
}

th{
    font-size: 10px;
}
#menuBar1 {
    width: 100%;
    padding: 3px;
    margin-top: -38px;

}
#menuBar1 ul li a,#menuBar2 ul li a{
    font-size:15px;
}
#menuBar2{
    padding: 10px;
}
#sortMenu ul li{
    margin-left: 5px;
    margin-top: 5px;
}
#sortMenu ul li:nth-child(odd){
    font-size: 14px;
}

#sortMenu ul li:nth-child(even) select{
    padding: 4px;
    font-size: 12px;
}
th{
    font-size: 16px;
}

}