@font-face {
  font-family: "gotham-black";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-BLACK.TTF");
}
@font-face {
  font-family: "gotham-black-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-BLACKITALIC.TTF");
}
@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-BOLD.TTF");
}
@font-face {
  font-family: "gotham-bold-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-BOLDITALIC.TTF");
}
@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-LIGHT.TTF");
}
@font-face {
  font-family: "gotham-light-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-LIGHTITALIC.TTF");
}
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-MEDIUM.TTF");
}
@font-face {
  font-family: "gotham-medium-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-MEDIUMITALIC.TTF");
}
@font-face {
  font-family: "gotham-thin";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-THIN.TTF");
}
@font-face {
  font-family: "gotham-thin-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-THINITALIC.TTF");
}
@font-face {
  font-family: "gotham-ultra";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-ULTRA.TTF");
}
@font-face {
  font-family: "gotham-ultra-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-ULTRAITALIC.TTF");
}
@font-face {
  font-family: "gotham-xlight";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-XLIGHT.TTF");
}
@font-face {
  font-family: "gotham-xlight-italic";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-XLIGHTITALIC.TTF");
}
@font-face {
  font-family: "gotham-regular";
  src: url("../fonts/Gotham Fonts Family/GOTHAM-BOOK.TTF");
}
body {
  font-family: gotham-light!important;
  color: #58585B!important;
}
a {
  color: #58585B!important;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav > li, .nav > li > a {
    display:inline!important;
  }
  .nav {
        text-align: center!important;
  }
  .navbar-brand {
    padding-left:15px!important;
    padding-top:0px!important;
  }
  #myNavbar {
        /* border-top: 1px solid; */
  }
  .std_reg_div {
    padding: 0% 0%!important;
  }
  #db{
    width: 82% !important;
  }
  #db1{
    width: 81% !important;
  }
  #ihw{
    margin-left: 5px !important;
  }
  #mb{
   margin-left: 75px !important;
    margin-top: -56px !important;
  }
  #mb1{
    margin-left: 151px !important;
    margin-top: -57px !important;
  }


  #mb2{
  margin-left: 80px !important;
    margin-top: -57px !important;
  }
  #mb3{
    margin-left: 157px !important;
    margin-top: -57px !important;
  }
  #ihp5{
    margin-top: 32px!important;
      margin-left: -1px!important;
  }
  #dbb{
        padding: 23px 143px !important;
  }
  #ii{
    margin-right: -105px !important;
  }
  #p6{
        margin-left: -136px!important;
  }
  #iy{
    margin-top: 25px !important;
      margin-left: 32px !important;
      text-align: center !important;
  }
  #iu1{
        margin-top: -249px !important;
      margin-left: 90px! important;
  }
  #il2{
        margin-top: 18px!important;
  }
  #iu2{
    margin-top: -161px!important;
      margin-left: 90px!important;
  }
  #iie{
    padding: 8px 69px 8px 69px !important;
      margin-right: 5px!important;
      margin-bottom: 21px!important;
  }
  #ua{
    text-align: center!important;
      margin-left: -5px !important;
  }
  #di{
    margin-bottom: 20px !important;
  }
  #gm{
       text-align: center !important;
  }
  #gn{
       margin-left: 84px !important;
      margin-top: 15px !important;
  }
  #na
  {
        padding-left: 53px!important;
  }
  #iic{
        margin-left: 86px !important;
      margin-top: 13px !important;
  }
  #ipg{
        margin-left: 79px!important;
  }
  #ct1{
      margin-left: -13px!important;
  }
  #ipg {
      margin-left: 10px!important;
      margin-top: 12px!important;
  }
  #ct2{
    margin-left: -33px !important;
  }
  #pun{
    margin-left: 92px !important;
  }
  #iun{
    margin-left: 14px !important;
  }
  #fln{
  margin-left: 92px !important;
  }
  #ifln{
    margin-left: 14px !important;
  }
  #is{
    margin-left: 76px !important;
    padding: 9px 35px !important;
  }
  #isc{
    padding: 9px 35px !important;
        margin-left: 65px !important;
      margin-top: 12px !important;
  }
  #bs{
    margin-left: 98px!important;
  }
  #buor{
    margin-left: 87px!important;
  }
  #no{
        margin-left: -3px !important;
  }
  #sean{
    margin-top: 23px !important;
      margin-left: 40px!important;
  }
  #ipsp{
    text-align: center!important;
      margin-left: -37px!important;
  }
  #ids{
        margin-left: 79px!important;
  }
  #ddiv{
    margin-left: 24px !important;
      margin-top: 4px !important;
  }
  #ig{
  margin-left: 54px!important;
  }
  #pmcb{
      padding-top: 17%!important;
  }
  #tp{
    margin-top: -31px!important;
  }
  #pro{
    margin-top: -17px !important;
  }
  #pba{
    width:101% !important;
  }
  #pbt{
    width:101% !important;
  }
  #ssp{
        margin-left: 14px!important;
      margin-right: 28px!important;
  }

  #vg{
    margin-left: 8px!important;
  }
  #tco{
        margin-left: -5px!important;
      margin-top: 1px!important;
  }
  #e{
    margin-left: 4px!important;
      margin-top: 15px!important;
  }
  #yn{

      margin-left: 2px !important;
      text-align: center!important;
  }
  #bor{
  margin-left: -38px!important;
      margin-right: -38px!important;
  }
  #iu3{
    margin-top: -160px!important;
      margin-left: 95px!important;
  }
  #il4{
        margin-top: 38px!important;
  }
  #iu4{
    margin-top: -249px !important;
      margin-left: 95px !important;
  }
  #bed{
      margin-left: 22px!important;
  }
  #mhdh {
      margin-top: 27px !important;
      margin-left: 8px !important;
  }
  #dcofo{
        margin-top: 14px!important;
      margin-left: 1px!important;
  }
  #texta{
    margin-left: -7px!important;
        padding: 5px !important;
  }#pin{
    margin-top: -419px !important;
  }

  /*#topma{
    margin-top: -212px!important;
  }*/

  #qddmmyy {
      margin-top: -278px !important;
      margin-left: 3px!important;
  }
  /* .list-group-item.active{
    border-color: none!important;
    background: none!important;
  }
  .list-group-item{
    background-color: #fff;
    padding: none!important;
  } */
  #padt {

      padding-right: 56px !important;
  }
  #linehe {
      margin-left: -12px !important;
  }
  #lin {
      margin-left: -13px!important;
  }
  #dtstop1{
  width: 102% !important;
      }
      #dtstop{
    width: 103% !important;
      }
      #drop17 {
      position: relative;
      margin-left: 8px;
  }
  #hon{
    height: auto!important;
    overflow-y: none!important;
  }/*13*/
  #dp13 {
      margin-left: 20px!important;
      margin-top: -3px!important;
  }
  #htcs1 {
      /* margin-left: 29px; */
      /* text-align: center; */
      margin-left: 108px!important;
  }
  .dbb {
    width: 100%!important;
    padding : 2% 5%!important;
    height: 38px!important;
  }
  .ii {
    margin-top: -12%!important;
  }
  .p6 {
    line-height: 1.42857143!important;
  }
  .maintxt{
  margin-left: 5px;

  }
  h1 {
    font-size:20px!important;
  }
  .maintxt1{
        text-align: center;
    float: left!important;
    border-radius: 50px!important;
    margin-bottom: 10px!important;
       width: 100%!important;
  }
  .maintxt2{
        text-align: center;
    float: left!important;
    border-radius: 50px!important;
        width: 100%!important;
  }


  .txtmain {
          margin-left: 0px!important;
    width: 100%!important;
    border-radius: 15px!important;
     text-align: center;
  }
.txtmain1 {
          margin-left: 0px!important;
    width: 93%!important;
    border-radius: 0px!important;
     text-align: center;
  }


  .save_btn{

  float:right !important;
      width: 75% !important;
  text-align: center;
}
.cancel_btn{


      width: 75% !important;
  text-align: center;
       float: left;
}




.circle{
      margin-left: 20% !important;
    margin-bottom: 4% !important;
}

 .info{
      margin-left: 9% !important;
 }
  .g_btn{
     /* margin-left: 8% !important; */
    width: 85% !important;
    padding-top: 5px;
    padding-bottom: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 5px;
}
.back_div {
    border-left: 1px solid #BBBDC0;
    border-bottom: 1px solid #BBBDC0;
    border-right: 1px solid #BBBDC0;
    text-align: center!important;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -20px;
    padding-top: 10px;
}
 .mtxt{

  width: 100% !important;
}
/* .list-group-item {
  padding:10px 15px;

}
.sub_learning_obj_div{
    margin-left: 8%;
} */

.txt{
  padding: 5px 30px !important;
  margin-left: 15%!important;
}

#create {

    margin-left: 120px !important;
}

.search_user{
  width: 50% !important;
  margin-left:21%;

}

  .txt_user{

     margin-bottom: 10px!important;
         margin-left: 7%!important;

  }


#role1{

    margin-left: 30% !important;
  }
#drop{
  width:100%!important;
  margin-bottom: 10px;

}
#adtxt{
  width: 100% !important;
  margin-bottom: 10px !important;

}
#add{
      margin-left: 40%;

}
#save{
  margin-left: 40% !important;
}
.user_access{
  margin-left: 0px !important;
}
.lal{
  font-size: 12px !important;
  width: fit-content !important;
}

#search1{
  margin-left: 0px !important;

}

#save1{
   margin-left: 0px !important;


}
.labl{
  margin-left: 22%;
}

.txt_teacher{
  margin-left: 0px !important;
  padding: 10px 50px !important;
  width: 100%!important;

}
  .login_btn{
       margin-left: 0px !important;
       width: 100%!important;
}
.b{
  margin-left: 0% !important;

}

  #subject{
font-size: 25px !important;
margin-left: 40px !important;
}

 #subject_report{
font-size: 16px !important;
margin-top: 5px!important;
padding: 10px 10px !important;
margin-left: 0px !important;
}
  #btndrop{

padding: 10px 20px !important;
margin-left: -50px;

}
 #btn_selection{

    width:100% !important;
    margin-left: 50px;

  }
   #save_selection{

    margin-left: 0px !important;
    padding: 10px!important;


  }
  .white_btn{
        width: 100%;
  }
  .imgicon{
        width: 80% !important;
  }
 #btn_selection1{
       margin-bottom: 10%;

 }
 .circle {
  align-self: center;
  width: 175px!important;
  height: 175px !important;



 }
 .circletext{

  top: 70px!important;
  left:30px!important;


 }
 .number{

  top: 90px!important;
  left:70px!important;


 }
 .subject_cricle {
   width: 70%!important;
border: 2px solid #808284;
/* color: grey; */
border-radius: 50%;
font-size: 25px;
font-weight: 600;
padding: 60px 30px!important;
 }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 992px) and (max-width: 1279px){

  .back_div {
    border-left: 1px solid #BBBDC0;
  border-bottom: 1px solid #BBBDC0;
  border-right: 1px solid #BBBDC0;
  text-align: center!important;
  padding-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
  margin-top: -20px;
padding-top: 10px;
  }

}
@media only screen and (min-width: 1280px) {

}
.back_div {
  border-left: 1px solid #BBBDC0;
border-bottom: 1px solid #BBBDC0;
border-right: 1px solid #BBBDC0;
text-align: center!important;
padding-bottom: 15px;
border-radius: 0px 0px 10px 10px;
margin-top: -20px;
padding-top: 10px;
}
.l-text {
  font-size:18px!important;
}
.text-12 {
  font-size:12px!important;
}
.text-14 {
  font-size:14px!important;
}
.text-16 {
  font-size:16px!important;
}
.htl_text_box {
  border-style: none;
border: 1px solid #808284;
padding: 11px 2%;
border-radius: 0px 30px 30px 1px;
width:60%;
}
.htl_label {
  background: rgb(230, 231, 232);
border: 1px solid #808284;
border-radius: 30px 0px 0px 30px;
border-right: none;
}
.navbar {
  min-height: 75px!important;
  border-radius: 0px!important;
  border-bottom: 1px solid #808284!important;
}
.nopadding {
  padding:0px!important;
}
.footer-line {
  padding-top: 10px;
/* padding-bottom: 15px; */
border-top: 1px solid #808284;
}
.footer {
   position: absolute;
   bottom: 0;
   /* bottom: 10px; */
   width: 100%;

   color: white;
   text-align: center;
}
.text-gotham-bold {
  font-family: gotham-bold;
}
.text-gotham-medium {
  font-family: gotham-medium;
}
progress:not[value] {
  background-color: red;
}
.scroll-pane
{
	/* width: 50%; */
	/* height: 200px; */
	/* overflow: auto; */
}
.tab_btn {
  background: none;
border: none;
}
.active {
  /* border-bottom:3px solid #BBBDC0; */
}
.search_text_box {
      border-radius: 30px 0px 0px 30px!important;
}
.search_btn {
  border-radius: 0px 30px 30px 0px!important;

}
.search_form {
  margin-top:0px!important;
}
.admin-login-inputs {
  width: 90%;
    padding: 2% 5%;
    border: 1px solid #808284;
}
.admin-login-submit {
  width: 90%;
  padding: 2% 5%;
background: rgb(230, 231, 232);
border: 1px solid #808284;
}
.color-link {
  color:#00ADEF!important;
}
.dashboard_menu {

}
.grey_btn {

  padding: 2% 5%;
background: rgb(230, 231, 232);
border: 1px solid #808284;
}
.white_btn {
  padding: 2% 5%;
background: rgb(255, 255, 255);
border: 1px solid #808284;
}
#std_login_btn {
  background: none;
  border: 1px solid #808284;
  font-size: 18px;
  padding: 11px 18%;
  border-radius: 0px 30px 30px 1px;
  text-align:left;
  width:60%;
  padding-left:10px;
}
progress::-moz-progress-bar { background: blue; }
progress::-webkit-progress-bar {
  background: red;
}

.progress {
  height: 5px!important;
  background-color: #A7A9AB!important;
  width:100%;
  margin-bottom:10px!important;
}
.progress-bar {
      background: #ED174A!important;
}
.mtxt{
 border:1px solid #BBBDC0;
 padding:10px 40px;
 border-radius: 50px;
 width: 100%;
}
.g_btn{
 padding: 1% 10%;
 background: rgb(230, 231, 232);
 border: 1px solid #808284;
 border-radius: 50px;


}
.std_reg_div {
  padding: 0% 20%;
}
.ng_view_div {
  height: 94vh;
  overflow-y:scroll;
}
#iio{
  border-radius: 25px;
       padding: 10px 53px;
  text-align: center;
  border-style: none;
  border:1px solid #808284;

}
#iin{
border-radius: 25px;
    padding: 12px 120px;
 border-style: none;
  border:1px solid #808284;
  font-size:14px;
}
#dr1 {
    margin: auto;
    width: 100%;
    text-align: center;
}
#dr2 {
    margin: auto;
    width: 100%;
    text-align: center;
}
#db {
    border: 2px solid #ccc;
    width: 22%;
    margin: auto;
    margin-top: -28px;
    border-radius: 20px;
    padding: 9px;
}
#db:hover {
  border: 2px solid #ED174A;
}
#db1:hover {
  border: 2px solid #ED174A;
}
.ir1 {
    float: left;
    border: 0px;
    width: 8%;
    height: 2em;
    margin-top: -3px!important;
}
#db1 {
    border: 2px solid #ccc;
    width: 22%;
    margin: auto;
    border-radius: 20px;
    padding: 9px;
}
.ir2 {
    float: left;
    border: 0px;
    width: 8%;
    height: 2em;
    margin-top: -3px!important;
}
#i7 {
    width: 50%;
    border: 1px solid #ccc;
    color: grey;
    border-radius: 60%;
    font-size: 40px;
    padding: 10px 20px;
}
#i8 {
    width: 50%;
    border: 1px solid #ccc;
    color: grey;
    border-radius: 60%;
    font-size: 40px;
    padding: 10px 20px;
}
#i9{
  width: 50% ;border:1px solid #ccc;color:grey;border-radius: 60%; font-size: 40px;padding: 10px 20px;
}

#i10{
  width: 50% ;border:1px solid #ccc;color:grey;border-radius: 60%; font-size: 40px;    padding: 10px 14px;
}
#i11{
  width: 50% ;border:1px solid #ccc;color:#CBDADC;border-radius: 60%; font-size: 40px;     padding: 10px 20px;
}
#i12{
width: 50% ;border:1px solid #ccc;color:#CBDADC;border-radius: 60%; font-size: 40px;     padding: 10px 14px;
}
.back_span {
  margin-left: 35px;
  border-style: none;
  border:2px solid #ccc;
  font-size: 50px;
  border-radius:0px 0px 15px 15px;
  padding: 9px 29px 9px 20px;
}
.back_span:hover {
  background-color: #ed184a!important;
}
.dbb {
  border: 2px solid #ccc;
width: 40%;
margin: auto;
border-radius: 30px;
height: 20px;
padding: 2% 2%;
}
.p6 {
    text-align: center;
    line-height: 0px;
}
.c6 {
    margin: auto;
    width: 100%;
    text-align: center;
}
.ii {
        margin-top: -7%;
}
#paht{
  text-align: center; margin-left: 19px;
}
#iie{
  border-radius: 20px; padding: 8px 40px 8px 40px; margin-right: 40px;
}
#iip{
  border-radius: 20px; padding: 8px 40px 8px 40px;
}
#iy{
  margin-top:-22px; margin-left: 150px;
}
#il1{
  padding-left: 40px;
}
#iu1{
  list-style: none; margin-top: 27px;
}
#il2{
  padding-left: 40px;
}
#iu2{
  list-style: none; margin-top: 27px;
}
/*35*/
#gm{
  margin-left: 43px;
}
#gn{
   margin-left: 100px;
   margin-top: 7px;
}
#na{
  padding-left: 44px;
    margin-left: 10px;
    padding: 7px 25px;
}
#ps{
  margin-left: 20px; color: #5858B;
}
#iic
{
  padding: 8px 20px;margin-left: -71px;
}
#ipg{
  margin-left: 43px;
}
#ct1{
  margin-left: -82px;
}
/*36*/
#ih36{
  margin-left: 90px;
}
#pun{
         margin-left: 44px; margin-top: 19px;
}
#iun{
  padding: 5px 39px; margin-top: 13px;
  margin-left: -27px;
}
#fln{
     margin-left: 44px;

}
#ifln{
  padding: 5px 39px;
  margin-left: -27px;
}
#is{
  padding: 7px 25px;
}
#isc{
  padding: 7px 25px;
}
#ir{
  border: 0px; width: 100%; height: 1.5em;
}
#bs{
  padding: 7px 24px;
}
/*37*/
#sya{
  margin-left: 75px; margin-top: 15px;
}
#buor{
  padding: 8px 24px; background: white; border:none; border:1px solid black;
}
#iuor{
  color:#ccc ; margin-left: 11px; font-size: 31px; margin-left: 40px;
}
#ignb{
  color:#ccc ; margin-left: 11px; font-size: 25px; margin-left: 40px;
}
#nm{
  margin: auto; text-align: center; width: 100%;
}
#butre{
  padding: 7px 40px; border:none; border:1px solid black;
}
#bcan{
  padding: 7px 31px; background: white; border:none; border:1px solid black;
}
#no{
   border-bottom: 1px solid #ccc;width:fit-content;
}
#sean{
   color: blue;
}
#mardrop{
  margin-left:-43px;
}
/*38*/
#iegn{
color:#ccc ; margin-left: 11px; font-size: 25px; margin-left: 40px;
}
#ddiv{
  margin-left: -47px; margin-top: -5px;
}
#ids{
  margin-left: 44px;
}
#ig{
   padding: 10 33px; margin-left: 200px; margin-top:60px;
}/*18*/
#pmcb{
  border: 1px solid #808284; padding-top: 2%;border-radius: 30px;
}
#pba{
   border-top: 1px solid #808080; width: 67%;
}
#ssp{
  margin-left: 18px; margin-right: 18px;
}
#pbt{
   border-top: 1px solid #808080; width: 67%;
}
/*14*/
#vg{
  text-align: center;
    margin-top: 54px;
    margin-left: 168px;
}
#tco{
  text-align: center;
    margin-left: -50px;
    margin-top: -5px;
}
#e{
      text-align: center;
    margin-left: -54px;
    margin-top: 22px;
}
/*15*/
#yn{
  margin-top: 50px;
  margin-left: 89px;
}
#ib{
  text-align: center;
    margin-left: 29px;
}
#s{
  margin-left: 110px; margin-top: 13px;
}
/*17*/
#bpcmb{
  border-radius: 20px;
  padding: 5 4 5 23px;
}
#icircle{
color:#ccc ; margin-left: 11px;
}
#borra{
  border: 1px solid #808284;width: 52%; margin: auto; border-radius: 20px;
        height: 20px;padding: 19px;
}
#ibmark{
  margin-top: -12px;color: #ccc;
}
/*20*/
#iiee{
      border-radius: 20px;
    padding: 8px 86px 8px 86px;
    margin-right: 40px
}
#iu3{
  list-style: none; margin-top: 27px;
}
#iu4{
  list-style: none; margin-top: 27px;
}
#il3{
  padding-left: 40px;
}
#il4{
  padding-left: 40px;
}
#i20{
  text-align: center; margin-left: 19px;
}
#bed{
  text-align: center; margin-top: 40px;
}
/*9*/
#qddmmyy{
    margin-top: -85px;
    margin-left: 36px;
}
#qddmmyy1{
  margin: auto; text-align: center; width: 100%; margin-top: 17px;
}
#texta{
  border-radius: 20px;
  margin-left: 36px;
}
#qbre{
border-radius: 20px;padding: 7px; padding-left: 78px; padding-right: 78px; border:none; margin-left: -498px;
}
#qrp{
   list-style-type:none;
}
#cofote{
  border-bottom:1px solid #A7A9AB; width:fit-content ;
}
#mhdh{
  margin-top:-53px; margin-left: 150px;
}
#pin{
   font-style: italic; font-size: 10px;
}
#dsqp{
  border-radius: 20px; padding: 5 170 5 170px;
      padding: 10px 54px;
}
#dtstop1{
  border: 1px solid black; width: 34%; margin: auto; border-radius: 20px;
  height: 30px;padding: 20px; margin-left:4;
}
#dtstop{
  border: 1px solid black; width: 34%; margin: auto; border-radius: 20px;
  height: 30px;padding: 20px; margin-left:4;
}
#intp{
   float: right; margin-top: -31px; border: 0px; width:7% ; height: 3em;
}
#itp{
  float: right;margin-top: -27px; font-size:35px; width: 37px; color:#ccc ;
}
#linehe{
  margin-left: -308px;
}
#lin{
      margin-left: -406px;
}
#ptsp{
 line-height: 0px;
}
#topma{
  margin-top: -94px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 15px 49px;
    clear: both;
    font-weight: 400;
    line-height: 2.428571;
    color: #333;
    white-space: nowrap;
    /* border-bottom: 1px solid; */
}
#padt{
  padding: 20px 95px;
}
/*9*/
#paddins{
  padding:10px 15px;
}
#i9ti{
  margin-top: 10px;
}
#hon{
  height:65vh;
  overflow-y: scroll;
}
/*6*/
#iep1{
  text-align: center; margin-top: 40px;
}
#dp13{
  margin-left: 87px;
    margin-top: 14px;
}
#mardrop1{
  margin-left: -40px;
}
#htcs1{
  margin-left: 29px;
}
#btn_selection {
    border: 1px solid;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 140px;
    width: 70%;
}
.dropdown {
    padding: 0px 20px! important;
    /* width: 60px; */
}
.imgicon {
    width: 20%;
}
#save_course {
    margin-left: 5px;
    border-radius: 0px;
    border: 1px solid;
    padding: 10px 40px;
}
#cancel_course {
    border: 1px solid;
    border-radius: 0px;
    padding: 10px 40px;
}
#btn_selection1 {
    border: 1px solid;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 140px;
    width: 70%;
    font-size: 16px;
}
#edit {
    border: 1px solid;
    border-radius: 0px;
    padding: 12px 20px;
    margin-left: 0px;
    width: 24%;
}
.submain{
font-size: 20px;
letter-spacing: 1px;
margin-top: 20px;
margin-left: 150px;
}
.maintxt1{
border:1px solid #58585B;
border-radius: 50px;
padding: 10px 30px;
float: right;
}
.maintxt2{
border:1px solid #58585B;
border-radius: 50px;
padding: 10px 30px;
float: left;
}


.txtmain{
 border:1px solid #58585B;
border-radius: 15px;
margin-left: 220px;
text-align:center;
    width: 500px;
  height: 200px;
}
.save_btn{
 border:1px solid #58585B !important;
border-radius: 50px !important;
float: right;
    width: 34% ;
text-align: center;
}
.cancel_btn{
 border:1px solid #58585B !important;
border-radius: 50px !important;
float: right;
width: 34% ;
text-align: center;

float: left;
}


.nav-tabs>li.active>a{
border-top:none !important;
border-left:none !important;
border-right:none !important;
border-bottom:5px solid #A7A9AB!important;
}


.circle {
width: 200px;
height: 200px;
 border:1px solid;
 -moz-border-radius: 100px;
 -webkit-border-radius: 100px;
 border-radius: 100px;

 position: relative;
}
.circletext{
position: absolute;
top: 80px;
left:45px;
font-size: 25px;
font-weight: 600;
text-align: center;
vertical-align: center;
}
.number{
position: absolute;
top: 110px;
left:90px;
font-size: 20px;

}



}

/*
.list-group-item.active {
background: none!important;
border-color: none!important;
}
.list-group-item {
   background-color: #fff;
   padding:none!important;
} */

#main{
 margin-top: -15px;
 font-size: 30px;
}

#role1{

margin-left: 20px;
font-size: 17px;
}

#create{
text-align: center;
margin-left: 500px;
border-radius: 0px;
border:1px solid;
padding: 10px 30px;

}
.txt{
padding: 5px 30px;
margin-left: -20px;
}

/*.basic_btn{
text-align: center;
margin-left: 500px;
border-radius: 0px;
border:1px solid;
padding: 10px 30px;
}*/
.basic_btn{
    width: 28% ;

  margin-left: 38% ;
  padding: 20px 50px;
}

.search_user
{
      width: 100%;



border-radius: 0px;


}
.txt_user{
    padding: 7px;
  width: 90%;

}

.labl{
  font-size: 18px;
  text-align: center;

}
#add{
border-radius: 0px;
border:1px solid;
padding: 13px 20px;
}
#adtxt{
margin-top: 5px;
padding-left:30px;
 padding-top:20px;
  padding-right: 20px;
}
#main{
 margin-top: -20px;
 font-size: 30px;
}

#role{
font-size: 20px;
margin-left: 20px;

}

#save{

margin-left: 500px;
border-radius: 0px;
border:1px solid;
padding: 10px 30px;
}
.user_access{
margin-left: 20px;
}

#search1{
margin-left: 100px;
padding: 10px 20px;
border:1px solid #6D6E70;
border-radius: 0px;
}

#save1{
 margin-left: 100px;
padding: 10px 30px;
border:1px solid #6D6E70;
border-radius: 0px;

}

#cancel{
margin-left: 100px;
padding: 10px 20px;
border-radius: 0px;
}
#clear{
margin-left: 100px;
padding: 10px 30px;
border-radius: 0px;
}
.lal{
font-size: 20px;
}
#sub{
 margin-top: -5px;
 font-size: 30px;
 letter-spacing: 1px;
}

.txt_teacher{
/* margin-left: 330px; */
text-align: center;
border: 1px solid;
border-radius: 20px;
/* width: 38%; */
padding: 10px 90px;
}

.login_btn{
  /* margin-left: 330px; */
text-align: center;
border: 1px solid;
width:32%;
border-radius: 20px !important;
padding: 10px 40px!important;
 }


 .b{
   margin-left: 450px;
   color: 00ADEF;

 }
 .sub h1{
text-align: center;
text-indent: 600px;
letter-spacing: 1px;

}
#btn_selection1{
  border: 1px solid;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 140px;
  width:70%;
  font-size: 16px;

}

#send{
  padding: 10px 60px;
border-radius: 30px;
border:1px solid;
margin-left: -50px;
}


.firstrow{
  padding: 40px 10px;
}
.secondrow{
  padding: 50px 10px;
}
.thirdrow{
  padding: 100px 10px;
}
.fourthrow{
  padding: 30px 10px;

}
#filter{
  float: right;
  margin-top:10px;


}
#browse{
  padding: 10px 60px;
border-radius: 30px;
border:1px solid;
margin-left: 50px;
}

.circlemain{
position: absolute;
top: 90px;
left:50px;
font-size: 20px;

}
.circlesub{
position: absolute;
top: 110px;
left:90px;
font-size: 20px;

}
.leftcontainer{
padding: 0% 0%;
padding-right:2%;

}


.info1{
height: 90px;
weight: :200px;

}
#nnn{

border-left: 2px solid #E6E7E8;
border-right: 2px solid #E6E7E8;
}


.circlemain{
position: absolute;
top: 80px;
left:40px;
font-size: 20px;

}
.circlesub{
position: absolute;
top: 100px;
left:60px;
font-size: 20px;

}
.txt_answer_script{
padding: 10px 80px;
border-radius: 30px;
border:1px solid;

}

#save_answer{
  padding: 10px 60px;
border-radius: 30px;
border:1px solid;
margin-left: 50px;

}
.imgicon{

  width: 20%;

    }

#save_quiz{

        border: 1px solid;
  border-radius: 0px;
  padding: 10px 40px;
}
#cancel_course{
border: 1px solid;
  border-radius: 0px;
  padding: 10px 40px;
}
#cancel_quiz{
  border: 1px solid;
  border-radius: 0px;
  padding: 10px 40px;
}

.txtmain1{
 border:1px solid #58585B;
border-radius: 0px;
margin-left:0px;

    width: 420px;
  height: 200px;
}
#video{
        border:1px solid;
        border-spacing: 10px;
      }
        #edit{
   border:1px solid;
        border-radius: 0px;
        padding: 12px 20px;
        margin-left: 0px;
        width: 24% ;
}


      #lbl{
        font-size: 20px;
      }
        #subject_report{
font-size: 25px;
padding: 10px 20px;
text-align: center;
margin-left: 30px;
}
#btndrop{
  font-size: 16px;
border:1px solid #E6E7E8;
border-radius: 30px;
padding: 10px 50px;
margin-left: -50px;
text-align: left;
}
#cancel_pass{
margin-left: 100px;
padding: 10px 25px;
border-radius: 0px;

}
#save_course{

margin-left: 5px;
border-radius: 0px;
border:1px solid;
padding: 10px 40px;
}
.no_back {
  background: none!important;
}
.no_border {
  border:none!important;
}
#course_content {
  display:block;
}
#new_notification {
  display: block;
}
.tabcontent {
  display:none;
}
.active {
  border-bottom: 2px solid #A7A9AB!important
}
/* .htl-list-group {
  border-bottom:1px solid #A7A9AB;
  width:fit-content;
  width: -moz-fit-content;
} */
.subject_div {
  border: 1px solid #808284;
  padding-left:0px!important;
  border-radius: 20px;
}
.subject_div:hover {
  border: 1px solid #ED174A;
}
.subject_div:hover p{
  color: #ED174A;
}
.subject_div:hover span{
  color: #ED174A;
}
.subject_icon {
  padding-right:0px!important;
  padding-left:0px!important;
}
.subject_icon img {
  height:40px;
}
.subject_name {
   padding-top: 3%;
}
.subject_percentage {
   padding-top: 3%;
}
a.chapter_name:hover label {
color: #ED174A;
}
a.chapter_name:hover span {
color: #ED174A;
}
.search_text_box:hover {
  border: 1px solid #ED174A;
}
.back_div:hover {
  background: #ED174A;
  text-align: center!important;
}
#white_b {
  display: none;
}
.back_div:hover #white_b {
  display: block!important;
  margin: auto!important;
}
.back_div:hover #grey_b {
  display: none!important;
}
.g_btn:hover {
  background: #ED174A;
  color: #ffffff!important;
  text-decoration: none;
}
input[type="text"]:hover {
  border: 1px solid #ED174A!important;
}
input[type="password"]:hover {
  border: 1px solid #ED174A!important;
}
input[type="submit"]:hover {
  background:#ED174A!important;
  color:#ffffff!important;
}
input[type="button"]:hover {
  background:#ED174A!important;
  color:#ffffff!important;
}
button:hover {
  background:#ED174A!important;
  color:#ffffff!important;
}
input[type="text"]:focus {
  outline:0!important;
}
input[type="password"]:focus {
  outline:0!important;
}
input[type="submit"]:focus {
  outline:0!important;
}
input[type="button"]:focus {
  outline:0!important;
}
button:focus {outline:0!important;}
a:hover {
  color:#ED174A!important;
  text-decoration: none!important;
}
.board {
  font-size: 20px;
  width: 100%;
  border-radius: 30px;
  margin-bottom:0px;
}
.board_radio {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  margin-top:15px!important;
}
.board_div {
  padding:0px;
  border:2px solid #A7A9AB;
  border-radius:30px;
}
.board_div:hover {
    border: 2px solid #ED174A!important;
}
#i7:hover {
  border: 1px solid #ED174A!important;
  text-decoration: none;
}
.course {
  width: 80px;
  border: 1px solid #ccc;
  /* color: grey; */
  border-radius: 50%;
  font-size: 40px;
  padding: 10px;
}
.course:hover {
  border: 1px solid #ED174A;
}
.course_link:hover {
  text-decoration: none;
}
.after_hover {
  display:none;
}
.header_menu:hover .before_hover{
  display:none;
}
.header_menu:hover .after_hover{
  display:block;
  width:fit-content!important;
}
.subject_div:hover .after_hover {
  display: block;
}
.subject_div:hover .before_hover {
  display: none;
}
.dashboard_menu:hover {
  border-color: #ED174A!important;
}
.subject_cricle {
  width: 90%;
  border: 2px solid #808284;
  /* color: grey; */
  border-radius: 50%;
  font-size: 25px;
  font-weight: 600;
  padding: 55px 30px;
}
.subject_cricle:hover {
  border: 2px solid #ED174A;
}
.no_back {
  background : none!important;
}
#pen_icon_menu {
  background-image:url('../images/icons/all_new_icon/pen_icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#pen_icon_menu:hover {
  background-image:url('../images/icons/all_new_icon/pen_icon_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#book_icon_menu {
  background-image:url('../images/icons/all_new_icon/book_icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#book_icon_menu:hover{
  background-image:url('../images/icons/all_new_icon/book_icon_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#book_rak_menu {
  background-image:url('../images/icons/all_new_icon/book_rak.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#book_rak_menu:hover {
  background-image:url('../images/icons/all_new_icon/book_rak_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#pencil_icon_menu {
  background-image:url('../images/icons/all_new_icon/pencil_icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#pencil_icon_menu:hover {
  background-image:url('../images/icons/all_new_icon/pencil_icon_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#user_icon_menu {
  background-image:url('../images/icons/all_new_icon/user_icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#user_icon_menu:hover {
  background-image:url('../images/icons/all_new_icon/user_icon_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#pin_icon_menu {
  background-image:url('../images/icons/all_new_icon/pin_icon.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#pin_icon_menu:hover {
  background-image:url('../images/icons/all_new_icon/pin_icon_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#role_menu {
  background-image:url('../images/icons/all_new_icon/icon1.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#role_menu:hover {
  background-image:url('../images/icons/all_new_icon/icon1_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#user_role_menu {
  background-image:url('../images/icons/all_new_icon/icon2.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#user_role_menu:hover {
  background-image:url('../images/icons/all_new_icon/icon2_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#group_role_menu {
  background-image:url('../images/icons/all_new_icon/icon3.png');
  background-repeat: no-repeat;
  background-position: top right;
}
#group_role_menu:hover {
  background-image:url('../images/icons/all_new_icon/icon3_red.png');
  background-repeat: no-repeat;
  background-position: top right;
}
button:focus {outline:0;}
/* .board_radio:checked .board {
  background:#ED174A!important;
} */
/* .board_div > .board > .board_radio:checked .board_div > .board {
  background:#ED174A!important;
} */
.board_radio {
  display:none;
}
.board_div input[type="radio"]:checked+.board {
  background:#ED174A!important;
  color:#ffffff!important;
}
.track_link {
  color: #58585B;
border: 2px solid #BBBDC0;
font-size: 18px;
border-radius: 50px;
    padding: 2% 0%;
    font-weight:600;
}
.margin-center {
  margin-left: auto!important;
  margin-right: auto!important;
}
.track_link:hover {
  color:#ffffff!important;
  background:#ED174A!important;
}
.list-group-item:hover {
  background:#ED174A!important;
  color:#ffffff!important;
}
.tablinks {
  width: 100%;
    padding: 10px 15px;
}
